<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Swd.BspArchitecture.Repository.XmlFile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Swd.BspArchitecture.Repository.XmlFile.Properties.Settings>
            <setting name="PathToXmlFile" serializeAs="String">
                <value>D:\Projekte\SWDeveloper2021\Swd.Daten\Repository.xml</value>
            </setting>
        </Swd.BspArchitecture.Repository.XmlFile.Properties.Settings>
    </applicationSettings>
</configuration>